.logo {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #fc832c;
    display: flex;
    align-items: center;
    outline: none;
}

.point {
    font-weight: 500;
}

.logoSpan {
    font-weight: 600;
    color: #191a15;
}