.containerList {
    display: flex;
    flex-direction: column;
}

.containerButton {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.loadMoreBtn {
    border-radius: 30px;
    width: 176px;
    height: 48px;
    border: none;
    background: #fc832c;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.01em;
    color: #fbfbfb;
    outline: none;
}

.loadMoreBtn:hover {
    background: #f37113;
}