.wrapper {
    margin-bottom: 32px;
}

.label {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    color: #8a8a89;
    margin-bottom: 8px;
}

.dropdown {
  position: relative;
  width: 226px;
}

.button {
    width: 100%;
    padding: 14px 18px;
    background: #fc832c;
    color: #fbfbfb;
    border: none;
    border-radius: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    outline: none;
}

.button:hover {
    background: #f37113;
}

.menu {
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 20px 69px 0 rgba(0, 0, 0, 0.07);
    border-radius: 14px;
    padding: 14px 18px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.option {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(25, 26, 21, 0.3);
}

.option:hover {
  color: #191a15;
}

.active {
  color: #191a15;
}

@media (min-width: 768px) and (max-width: 1279px) {
    .wrapper {
      margin-bottom: 24px;
    }
}