.gradient {
    background: #fbfbfb;
    min-height: 100vh;
    background: radial-gradient(
    circle at bottom right,
    rgba(252, 131, 44, 0.15) 0%,
    rgba(252, 131, 44, 0.07) 40%,
    rgba(252, 131, 44, 0) 90%
    );
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 0 128px;
}

.textWrapper {
    width: 595px;
    margin-top: 126px;
    margin-bottom: 140px;
}

.heading {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 80px;
    line-height: 1.025;
    letter-spacing: -0.02em;
    color: #191a15;
    margin-bottom: 20px;
}

.span {
    font-style: italic;
    color: #fc832c;
}

.text {
    width: 100%;
    max-width: 486px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.33333;
    letter-spacing: -0.02em;
    color: #191a15;
    margin-bottom: 40px;
}

.start {
    align-items: center;
    display: flex;
    gap: 5px;
    justify-content: center;
    border-radius: 30px;
    width: 235px;
    height: 60px;
    background: #fc832c;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #fbfbfb;
    outline: none;
}

.start:hover {
    background: #f37113;
}

.arrow {
    width: 27px;
    height: 27px;
}

.rightBlock {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    width: 100%;
    height: 100%;
    margin-top: 78px;
    margin-bottom: 100px;
    border-radius: 10px;
}

.wrapper {
    position: absolute;
    top: 411px;
    left: -101px;
    border-radius: 20px;
    width: 311px;
    height: 118px;
    background: #fc832c;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.iconWrapper {
    background: #fbfbfb;
    color: #fc832c;
    border-radius: 13px;
    width: 54px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check {
    width: 24px;
    height: 21px;
}

.experience {
    width: 178px;
}

.experienceText {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: rgba(251, 251, 251, 0.5);
    margin-bottom: 8px;
}

.experienceNumber {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #fbfbfb;
}

.questionWrapper {
    position: absolute;
    top: 263px;
    left: -35px;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    background: #54be96;
    transform: rotate(-15deg);
    color: #fbfbfb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question {
    position: absolute;
    transform: rotate(15deg);
}

.peopleWrapper {
    position: absolute;
    top: 116px;
    right: -40px;
    border-radius: 10px;
    width: 48px;
    height: 48px;
    background: #fbc75e;
    transform: rotate(15deg);
    color: #fbfbfb;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) and (max-width: 1279px) {
    .container {
        padding: 0 48px;
    }

    .textWrapper {
        margin: 0;
        margin-top: 92px;
        margin-bottom: 92px;
    }

    .heading {
        font-size: 75px;
        line-height: 1.09333;
        margin-bottom: 48px;
    }

    .text {
        margin-bottom: 48px;
        max-width: 340px;
        height: 118px;
        display: flex;
        align-items: center;
    }

    .img {
        display: none;
    }

    .wrapper {
        top: 386px;
        left: -310px;
    }

    .questionWrapper {
        top: 44px;
        left: -155px;
    }
    
    .peopleWrapper {
        top: 335px;
        right: 300px;
    }
}
